body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

#ecuLogo {
    width: 45%;
    height: 45%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }

    #ecuLogo {
        width: 20%;
        height: 20%;
    }
}

#menuBar {
    background-color: #592a8a;
}

.searchLabel {
    display: block;
}

.button {
    background-color: #592a8a;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 10px;
}

.h3Course {
    background-color: lavender;
    padding: 10px;
}