<!-- 
    Copyright 2018
    James Adams IV
    East Carolina University
-->

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The Course Registration Management System is an application designed to improve the user experience 
    of course registration at East Carolina University.  
</p>

<p>
    To begin searching for courses, please click the Home link on the top menu bar.
    From there, a user can select a semester and search courses using a variety of search criteria.
</p>

<p>
    Users also have the ability to create a daily course schedule, to help determine the best course load for a semester.
    While viewing course results, meeting the course search restrictions used, click the checkbox labeled "Schedule" which should display a confirmation message.
    A user can choose to remove the course from the schedule by unchecking the checkbox.
</p>

<p>
    At any time, a user can click on the Schedule link on the menu bar to view the current course schedule.
    The user can print the daily course schedule by clicking the "Print Schedule" button.
    The schedule screen allows for removing courses from the schedule also, by clicking on the delete icon for a given course.
    Users can view directions between two classrooms by checking the checkbox labeled "Add to Directions."
    Once two courses have been added to the directions in this way, clicking the "View Directions" button will display a map between the two classrooms.
</p>