<!-- 
    Copyright 2018
    James Adams IV
    East Carolina University
-->

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The Course Registration Management System is an application designed to improve the user experience 
    of course registration at East Carolina University.  
</p>
