<!-- 
    Copyright 2018
    James Adams IV
    East Carolina University
-->

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The Course Registration Management System application was developed by James Adams during the Spring 2018 
    semester at East Carolina University.  Dr. Mark Hills served as the professor and mentor for the project.
</p>

<address>
    <strong>Student - James Adams:</strong> <a href="mailto:adamsja15@students.ecu.edu">adamsja15@students.ecu.edu</a><br />
    <strong>Professor - Dr. Mark Hills:</strong> <a href="mailto:hillsma@ecu.edu">hillsma@ecu.edu</a>
</address>
