@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic

@{
    ViewData["Title"] = "Campus Directions";
}

<div class="container">

    <div id="map"></div>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <script>
      function initMap() {
        var uluru = {lat: 35.6055151, lng: -77.366754};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_HkyFzSubvpRHvVH8e3LE96HtrXxM7ek&callback=initMap">
    </script>
    
</div>