<!-- 
    Copyright 2018
    James Adams IV
    East Carolina University
-->

@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Campus Directions";
}

<div class="container">

    <button type="button" class="btn btn-default" id="returnToScheduleButton" aria-label="Return to Schedule">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <span>Return to Schedule</span>
    </button>

    <p>Distance: <span id="directionsDistance"></span></p>
    <p>Time: <span id="directionsTime"></span></p>

    <div id="map"></div>

    <script>
      var infowindow;
      var map;
        
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            suppressMarkers: true
        });

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 35.6055755, lng: -77.3995847} // Put ECU campus at the center of the map
        });
        directionsDisplay.setMap(map);

        infowindow = new google.maps.InfoWindow();

        var startLocation = new google.maps.LatLng({lat: 35.6047775, lng: -77.362346}); 
        var endLocation = new google.maps.LatLng({lat: 35.6068811, lng: -77.3675049}); 

        createMarker(startLocation, 'start');
        createMarker(endLocation, 'end');

        calculateAndDisplayRoute(directionsService, directionsDisplay, startLocation, endLocation);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay, startLocation, endLocation) {
        directionsService.route({
          origin: startLocation,
          destination: endLocation,
          travelMode: 'WALKING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            document.getElementById("directionsDistance").innerHTML = response.routes[0].legs[0].distance.text;
            document.getElementById("directionsTime").innerHTML = response.routes[0].legs[0].duration.text;
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function createMarker(latlng, title) {
        var marker = new google.maps.Marker({
          position: latlng,
          title: title,
          map: map
        });

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.setContent(title);
          infowindow.open(map, marker);
        });
      }  
    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_HkyFzSubvpRHvVH8e3LE96HtrXxM7ek&callback=initMap">
    </script>
    
</div>