<!-- 
    Copyright 2018
    James Adams IV
    East Carolina University
-->

@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Campus Directions";
}

<div class="container">

    <button type="button" class="btn btn-default" id="returnToScheduleButton" aria-label="Return to Schedule">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <span>Return to Schedule</span>
    </button>

    <p>Distance: <span id="directionsDistance"></span></p>
    <p>Time: <span id="directionsTime"></span></p>

    <div id="map"></div>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_HkyFzSubvpRHvVH8e3LE96HtrXxM7ek&callback=initMap">
    </script>
    
</div>