@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic

@{
    ViewData["Title"] = "ECU Schedule";
}

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <h2>Search by Term</h2>

    <div class="container">

        <div class="row">
        
            <div class="col-md-12">
           
                @Html.DropDownList("selectedSemester", new SelectList(ViewBag.Semesters, "Key", "Value"))

            </div>
        
        </div>

        <div class="row">
        
            <div class="col-md-12">

                <input type="submit" class="button" value="Submit">

            </div>

        </div>

    </div>

}